@model ForumIT.Models.AspNetUser

@{
   // ViewData["Title"] = "getProfile";
}
@section Test{
    <aside class="col-md-3 sidebar97239" style="margin-top:100px">
        <div class="categori-part329">
            <img src="/1Forum/image/logoApp.png" alt="Logo" width="200px" height="100px">
        </div>
    </aside>
    }


<div class="modal-wrap">

    <div class="modal-bodies">
        <div class="modal-body modal-body-step-1 is-showing">
            <div class="title">Profile</div>
            <div class="description">Hello there, @Model.UserName</div>
        <form asp-action="getProfile" method="post">
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" style="background-color: #f2f2f2; border: none; cursor: default;" readonly />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="button" />
            </div>
        </form>
            
        </div>


    </div>
</div>

@section DoanJS{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


