@model ForumIT.Models.TblBinhLuan

@{
    ViewData["Title"] = "CreateCommment";
}


<div id="@Model.IdBinhLuan" style="display:none">
    <form asp-action="UpdateCommment" asp-controller="Comment" method="post">
        <!--div asp-validation-summary="ModelOnly" class="text-danger"></!--div-->
        <div style="display:none">

            <div class="form-group">
                <label asp-for="IdBinhLuan" class="control-label"></label>
                <input asp-for="IdBinhLuan" class="form-control" id="IdBinhLuan" />
                <span asp-validation-for="IdBinhLuan" class="text-danger"></span>
            </div>
            <!--div class="form-group">
                <label asp-for="NoiDung" class="control-label"></label>
                <input asp-for="NoiDung" class="form-control" />
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </!--div-->
            <div class="form-group">
                <label asp-for="IdidBaiVietBl" class="control-label"></label>
                <input asp-for="IdidBaiVietBl" class="form-control" id="IdBvietBLuan" />
                <span asp-validation-for="IdidBaiVietBl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUser" class="control-label"></label>
                <input asp-for="IdUser" class="form-control" id="IdUser" />
                <span asp-validation-for="IdUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayBl" class="control-label"></label>
                <input asp-for="NgayBl" class="form-control" id="NgayBL" />
                <span asp-validation-for="NgayBl" class="text-danger"></span>
            </div>

        </div>

        <div class="comment289-box">
            <div class="row">
                <div class="col-md-8">
                    <div class="post9320-box">
                        <input asp-for="NoiDung" class="comment-input219882" placeholder="Enter Your Post" id="BLuan">
                    </div>
                    <button type="submit" class="pos393-submit">Post Your Answer</button>

                </div>

            </div>
        </div>

    </form>
    <div class="comment289-box">
    <div class="row">
    <div class="col-md-8" style="margin-left:45px">
            <button onclick="Hidden(@Model.IdBinhLuan)" class="pos393-submit" style="background-color:#ff0000">Hủy</button>
    </div>
    </div>
    </div>
</div>


<script>
    function Hidden(bl) {
        var objectToHide = document.getElementById(bl);
        var objectToHidekh = document.getElementById("ndungBLuan");
        objectToHide.style.display = "none";
        objectToHidekh.style.display = "";

    }
</script>