@model ForumIT.Models.TblTraLoiBl

@{
    //string xx = "AA" + Model.IdBluanTloi;
    int xx = 100 + (int)Model.IdBluanTloi;
}

    <div  id="@xx" style="display:none">
        <form asp-action="CreateReply" asp-controller="Reply" method="post">
            <div style="display:none">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdTraloi" class="control-label"></label>
                    <input asp-for="IdTraloi" class="form-control" />
                    <span asp-validation-for="IdTraloi" class="text-danger"></span>
                </div>
                <!--div class="form-group">
                    <label asp-for="Noidung" class="control-label"></label>
                    <input asp-for="Noidung" class="form-control" />
                    <span asp-validation-for="Noidung" class="text-danger"></span>
                </!--div-->
                <div class="form-group">
                    <label asp-for="NgayTl" class="control-label"></label>
                    <input asp-for="NgayTl" class="form-control" />
                    <span asp-validation-for="NgayTl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdUser" class="control-label"></label>
                    <input asp-for="IdUser" class="form-control" />
                    <span asp-validation-for="IdUser" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdBluanTloi" class="control-label"></label>
                    <input asp-for="IdBluanTloi" class="form-control" />
                    <span asp-validation-for="IdBluanTloi" class="text-danger"></span>
                </div>

            </div>
            

            <div class="comment289-box" style="width:100%">
                <div class="row">
                    <div class="col-md-8">
                        <div class="post9320-box">
                            <input asp-for="Noidung" class="comment-input219882" placeholder="Enter Your Post">
                        </div>
                        <button type="submit" class="pos393-submit">Post Your Reply</button>
                    </div>

                </div>
            </div>

        </form>
    <div class="row">
        <div class="col-md-8">
            <button onclick="Hiddend(@xx)" class="pos393-submit" style="background-color:#ff0000">Hủy</button>
        </div>
    </div>
    </div>

<script>
    function Hiddend(bl) {
        var objectToHide = document.getElementById(bl);
        

        objectToHide.style.display = "none";
        

    }
</script>

