
@model ForumIT.Models.TblBaiViet
@using ForumIT.Models;

@{
   // ViewData["Title"] = "CreatePost";
    ForumITContext db = new ForumITContext();
}

<style>
    textarea {
        width: 300px;
        height: 150px;
        padding: 10px;
        border: 1px solid gray;
        resize: none; /* Loại bỏ khả năng thay đổi kích thước */
        font-family: Arial, sans-serif;
        font-size: 14px;
    }
</style>


@section Test{
    <aside class="col-md-3 sidebar97239" style="margin-top:100px">
        <div class="categori-part329">
            <img src="/1Forum/image/logoApp.png" alt="Logo" width="200px" height="100px">
        </div>
    </aside>
    }


<hr />


<div class="col-md-9">
                <div class="ask-question-input-part032">
                      <h4>Ask Question</h4>
                 <hr>
        <form asp-action="CreatePost" enctype="multipart/form-data" method="post">

                        <div class="ctchua" style="display: flex; width:100%">
                                <div style="width:30%">
                                    <span class="form-description43">Question-Title* </span></div>
                                <div style="width:70%">
                                   <div style="width:70%">
                        <div style="margin-bottom:10px"><span class="text-danger" asp-validation-for="Title" id="pl"></span></div>
                                    <input asp-for="Title" type="text" class="username029" placeholder="Enter your Name" id="tt"/>
                       
                                   </div>
                                </div>
                        </div>

                        <div class="ctchua" style="display: flex; width:100%">
                                <div class="form-description43" style="width:30%"> 
                                    <span >Category* </span></div>
                                <div style="width:70%">
                                    <select asp-for="IdLdd" class="list-category53">
                                        @foreach (var x in db.TblLoaiDds)
                                        {
                                            <option  class="form-description4342" value="@x.IdLoaiDd">@x.TenLoaiDd</option>
                                        }
                                    </select>
                                </div>
                        </div>


                         <div class="ctchua" style="display: flex; width:100%">
                                <div class="form-description43" style="width:30%">
                                    <span >Attactment*</span></div>
                                <div style="width:70%">
                    <input type="file" asp-for="Img" name="file" class="question-ttile3226" required>
                                </div>  
                        </div>

                        <div class="details2-239">
                                <div class="form-description43">
                                <span>Content*</span>
                                    <br />
                                    <textarea asp-for="NoiDung"  id="txtcontent" style="width:100%"></textarea>
                    <span class="text-danger" asp-validation-for="NoiDung" id="ctt"></span>
                                </div>
                        </div>

                        <div class="publish-button2389">
                            <button type="submit" class="publis1291" value="Create">Publish your Question</button>
                        </div>                
                </form>                
       </div>
</div>

@section DoanJS{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        const iptt = document.getElementById("tt");
        const ipct = document.getElementById("txtcontent");
        //CKEDITOR.replace('txtcontent');
        function checkData() {

            //const lb = document.getElementById("pl");


            //const lbctt = document.getElementById("ctt");
            checkTitlle();
            checkContent();

            return checkTitlle() && checkContent();

        }

        /*iptt.onblur = function () {
            var format = /[`!\@@#$%^&*()_+\=\[\]{};':"\\|,.<>\/?~]/;
            if (iptt.value.trim() == "") {
                document.getElementById('pl').innerHTML = "Tiêu đề không được để trống!";
            } else if (format.test(iptt.value)) {
                document.getElementById('pl').innerHTML = "Tiêu đề không chứa ký tự đặc biệt!";
            } else {
                document.getElementById('pl').innerHTML = "";
                return true;
            }
            return false;
        }

        ipct.onblur = function () {
            var format = /[`!\@@#$%^&*()_+\=\[\]{};':"\\|,.<>\/?~]/;
            if (ipct.value.trim() == "") {
                document.getElementById('ctt').innerHTML = "Nội dung không được để trống!";
            } else if (format.test(ipct.value)) {
                document.getElementById('ctt').innerHTML = "Nội dung không chứa ký tự đặc biệt!";
            } else {
                document.getElementById('ctt').innerHTML = "";
                return true;
            }
            return false;
        }*/

        function checkTitlle() {

            var format = /[`!\@@#$%^&*()_+\=\[\]{};':"\\|,.<>\/?~]/;
            if (iptt.value.trim() == "") {
                document.getElementById('pl').innerHTML = "Tiêu đề không được để trống!";
            } else if (format.test(iptt.value)) {
                document.getElementById('pl').innerHTML = "Tiêu đề không chứa ký tự đặc biệt!";
            } else {
                document.getElementById('pl').innerHTML = "";
                return true;
            }
            return false;

        }

        function checkContent() {

            var format = /[`!\@@#$%^&*()_+\=\[\]{};':"\\|,.<>\/?~]/;
            if (ipct.value.trim() == "") {
                document.getElementById('ctt').innerHTML = "Nội dung không được để trống!";
            } else if (format.test(ipct.value)) {
                document.getElementById('ctt').innerHTML = "Nội dung không chứa ký tự đặc biệt!";
            } else {
                document.getElementById('ctt').innerHTML = "";
                return true;
            }
            return false;

        }


    </script>

    }